.formLabelInput {
  display: flex;
  flex-direction: column;
  gap: 5px;

  div {
    display: flex;
    label {
      flex: 1;
    }
    input {
      flex: 1;
    }
  }
  a {
    align-self: center;
  }
}
